@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "../../theme.scss";

.aboutCard {
  display: flex;
  flex-direction: column;
  gap: calc(var(--screen-ratio) * 1.66);

  .title {
    font-size: calc(var(--screen-ratio) * 1.4);
    font-weight: $font-weight-semibold;
    color: #1d1d1d;
  }

  .description {
    font-size: calc(var(--screen-ratio) * 1.1);
    font-weight: $font-weight-medium;
    color: #3e424a;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(201, 207, 221, 0.6);
  }


  .cardsContainer{
    display: flex;
    gap: calc(var(--screen-ratio));

    .upsellingCard {
      border-radius: calc(var(--screen-ratio) * 0.56);
      flex: 1;
      background: linear-gradient(135deg, #79f1a4 0%, #0e5cad 100%);
      padding: var(--screen-ratio) calc(var(--screen-ratio) * 2) var(--screen-ratio) var(--screen-ratio);
      display: flex;
      gap: calc(var(--screen-ratio) * 2.9);
      align-items: center;
  
      &.orangeBkg {
        background: linear-gradient(135.73deg, #ff9865 0%, #ef3031 110.55%);
      }
  
      .aboutImg {
        width: calc(var(--screen-ratio) * 8.8);
        height: calc(var(--screen-ratio) * 8.8);
        object-fit: cover;
        border-radius: calc(var(--screen-ratio) * 0.56);
      }
  
      .rightSection {
        display: flex;
        flex-direction: column;
        gap: calc(var(--screen-ratio) * 1.1);
  
        .cardTitle {
          font-size: calc(var(--screen-ratio) * 1.4);
          font-weight: $font-weight-bold;
          color: #fff;
        }
  
        .cta {
          background-color: #fff;
          padding: calc(var(--screen-ratio) * 0.5) var(--screen-ratio);
          color: #0f1629;
          font-size:  var(--screen-ratio);
          font-weight: $font-weight-semibold;
          width: fit-content;
        }
      }
    }
  }

}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--screen-ratio) * 1.66);
  background-color: #fff;
  padding: calc(var(--screen-ratio) * 1.66);
  color: #0f1629;

  .heading {
    font-size: calc(var(--screen-ratio) * 1.66);
    font-weight: $font-weight-semibold;
  }
}