@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "../../theme.scss";

.tokenomicsContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--screen-ratio) * 1.66);
  background-color: #fff;
  padding: calc(var(--screen-ratio) * 1.66);
  color: #0f1629;

  .heading {
    font-size: calc(var(--screen-ratio) * 1.66);
    font-weight: $font-weight-semibold;
  }

  .title {
    font-size: calc(var(--screen-ratio) * 1.4);
    font-weight: $font-weight-semibold;
    color: #1d1d1d;
  }

  .subText {
    font-size: calc(var(--screen-ratio) * 1.1);
    font-weight: $font-weight-medium;
    color: #3e424a;
  }
}
